@import "variables";
@import "header";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}

.margen-interno {
  padding: 0 50px;
}

/* ------------------------- HEADER ------------------------- */

@include header-template();

/* ------------------------ END-HEADER ------------------------ */

/* --------------------------- MAIN --------------------------- */

.main {
  display: flex;
}

.aside {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 30px 30px 30px 0;
  padding: 15px;

  .title-aside {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .nav-aside {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      width: 200px;
      padding: 10px;
      text-decoration: none;
      font-size: 14px;
      background: $button-bg-pcolor;
      color: white;
      font-weight: bold;

      &:hover {
        background: $hover-link;
        color: black;
      }
    }
  }
}

.card {
  display: flex;
  flex: 4 1 auto;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 15px;

  img {
    width: 100%;
    height: 380px;
  }

  .card-title {
    margin: -40px 0 20px 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  p {
    font-size: 17px;
    padding: 10px 0;
  }

  ul{
    padding: 20px 0 20px 20px;
    li{
      list-style: none;
      font-size: 17px;
      margin-bottom: 6px;
      i{
        margin-right: 20px;
      }
    }
  }
}

/* ------------------------- END-MAIN ------------------------- */

/* -------------------------- FOOTER -------------------------- */

@include footer-template();

/* ------------------------- END-FOOTER ------------------------- */

@media all and (max-width: 1080px) {
  .menu{
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  .nav{
    a{
      font-size: 25px;
    }

  }
  .off{
    display: none;
  }
}

@media all and (max-width: 945px) {
  .main{
    flex-direction: column;
  }
  .aside{
    display: flex;
    justify-content: center;

    .title-aside{
      text-align: center;
    }

    .nav-aside {
      align-items: center;

      a {
        text-align: center;
        width: 500px;
      }
    }
  }


}